@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Bree+Serif&display=swap');

:root {
    --color1: #1f1f20;
    --color2: #2b4c7e;
    --color3: #567ebb;
    --color4: #606d80;
    --color5: #dce0e6;
    --color6: #725AC1;
    --font-family-bree: 'Bree Serif', serif;
    --font-family-baloo: 'Baloo Bhaijaan 2', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-baloo);

}

div {
    display: block;
}

.navbar-brand {
    border: 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 20px;

}

.nav-element {
    color: var(--color4);
    font-family: 'Bree Serif', serif;
}

.nav-element:hover {
    color: var(--color2);
}

.navbar-toggler {
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--color1);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:active {
    box-shadow: none;
}

body {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%239C92AC' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: center;
}

.home {
    background-position: center;
    height: 100vh;
    min-height: 40rem;
    max-height: 120rem;

}

.home_container {
    color: var(--color1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 80%;

}

.button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--color2);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--color2);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--color2);
}

.button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--color2);
}

.button:active {
    transform: scale(0.9);
}

.home_socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color2);
    box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
    padding: 0.5rem;
    border-radius: 0 15px 15px 0;
}

.home_social {
    width: 2.2rem;
}

.home_social_icon {
    color: var(--color5);
}

.home_social_icon:hover {
    transition: all 0.5 ease;
    transform: translateX(5px);
}

.about {
    background-position: center;
    min-height: 20rem;
    max-height: 120rem;
    border-radius: 15px;
}

.aboutme span {
    color: var(--color4);
}

.div-title {
    color: var(--color1);
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-family: 'Bree Serif', serif;
}

.box_skill {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: transparent;
    color: var(--color2);
    border: 1px solid var(--color2);
}

.box_skill:hover #mainIconPathAttribute {
    fill: var(--color5);
}

.box_skill:hover {
    color: var(--color5);
    box-shadow: inset 0 -100px 0 0 var(--color2);
}

.box_skill:active {
    transform: scale(0.9);
}

@media screen and (max-width: 576px){
    .rows-sm{
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0  0 calc(100%/3);
    }
}

.card {
    background-color: var(--color2);
    color: var(--color5);
    width: 250px;
    height: 350px;
    border-radius: 20px;
    box-shadow: -9px 9px 18px #5a5a5a,
        9px -9px 18px #ffffff;
    display: flex;
    flex-direction: column;
    transition: .4s;
    position: relative;
    margin:0 .5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__img {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    background-color: var(--color5);
    max-width: 100%;
    height: 23vw;
}

.card__descr-wrapper {
    padding: 15px;
    display: grid;
}

.card__title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
}

.card__descr {
    color: var(--font-color);
}

.card-icons {
    width: 25px;
    height: 25px;
    transform: translateY(10%);
    font-size: 20px;
}

.link {
    font-size: 20px;
}

.card__links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.card__links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

.card__links .link:hover {
    text-decoration: underline;
}

.form-container {
    max-width: 700px;
    margin: 30px;
    background-color: var(--color1);
    padding: 30px;
    border-left: 5px solid var(--color2);
    margin-left: auto;
    margin-right: auto;

}

.heading {
    display: block;
    color: var(--color5);
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-container .form .input {
    color: var(--color4);
    width: 100%;
    background-color: var(--color5);
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.form-container .form .input:focus {
    border-left: 5px solid var(--color4);
}

.form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--color5);
    color: var(--color4);
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
    border-left: 5px solid var(--color4);
}

.form-container .form .button-container {
    display: flex;
    gap: 10px;
}

.form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: var(--color3);
    padding: 10px;
    color: var(--color1);
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid var(--color4);
    color: var(--color4);
}

.form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px var(--color4));
    flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: var(--color4);
    font-weight: bold;
    background: var(--color1);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
    background: var(--color4);
    color: var(--color1);
}

.fa-chevron-up {
    border-radius: 80px 80px 0 0;
    background-color: var(--color1);
    color: var(--color5);
    font-size: 50px;
    width: 118px;
    height: 90px;
    transform: translateY(35px);
}

.fa-chevron-up:hover {
    transition: all 0.9 ease;
    transform: translateY(25px);
}

footer {
    background-color: var(--color1);

}

.footer-element {
    color: var(--color5);
}

.footer-element:hover {
    color: var(--color3);
}